/*헤더*/
.header{
    height:85px;
    width:100vw;
    background-color:white;
    font-size:50px;
    position: relative;
    transform: translate(0,10%)
}

.title{
    font-size:80px;
    transform: translate(0,-5%)
}
.nav{
    position:absolute;
    transform: translate(0,-5%)
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: skyblue;
}

/*고오오옹백*/
.meanless{
  height:3000px;
  width: 200px;
}
/*메인(책)*/
.container {
    width:200px;
    height:200px;
    perspective:5000px;
    margin:100px;
    transform: translateY(-111px);
  }
  
  .cube{
    position: relative;
    width:300px;
    height:200px;
    transform-style: preserve-3d;
    animation: rotate 2s forwards;
    transform: rotate3d(1,1,0,0deg);
    padding: 100%;
  }
  
  .face{
    position: absolute;
    display:flex
  }

  .앞{
    background: skyblue;
    width: 250px;
    height: 350px;
    transform:translateZ(25px);
  }
  
  .뒤{
    background: skyblue;
    width: 250px;
    height: 350px;
    transform:translateZ(-25px) rotateY(180deg);
  }
  
  .왼{
    background: rgb(231, 231, 231);
    width: 50px;
    height:350px;
    transform:translateX(-25px) rotateY(-90deg);
  }
  
  .오{
    background:hsl(202, 42%, 28%);
    width: 50px;
    height:350px;
    transform:translateX(225px) rotateY(90deg);
  }
  
  .위{
    background: rgb(231, 231, 231);
    width: 250px;
    height:50px;
    transform:translateY(325px) rotateX(90deg);
  }
  
  .아래{
    background: rgb(190, 190, 190);
    width: 250px;
    height:50px;
    transform:translateY(-25px) rotateX(-90deg);
  }

  @keyframes rotate {
    from {
        transform: rotateX(25deg) rotateY(60deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(25deg) rotateY(200deg) rotateZ(0deg);
    }
  }

  /*메인(설명)*/
.container{
    display:flex;
    justify-content: space-between;
}
.introduction{
    border : 3px solid #ffffff;
    padding : 10px;
    width : 45%;
}
